*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/* css index*/

/*fondo del index*/
body{
    background-color: #F9DC88 ;  
}
/* titulo,menu y estilo del menu*/
div p a{
    color: black;
    text-transform: uppercase;
    color: #148F77 ;

}

header{
    background-color: #D1BD8F ;
    position: sticky;
    top: 0;
    
    
}

.menu{
    color: black;
    margin: 20px;
    padding: 20px;
}

.container {  display: grid;
    grid-template-columns: 38% 23%;
    grid-template-rows: 45% 40% 40%;
   
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
     grid-template-areas:
      "Velas Velas2"
      "aca aca2"
      "parrafo parrafo2";
}
  
.aca { grid-area: aca; 
    text-align: center;
    margin: 10px;
}
  
.aca2 { grid-area: aca2; 
    text-align: center;
    margin: 10px;
}
  
.parrafo { grid-area: parrafo; 
    text-align: center;
    margin: 80px;
}  
.parrafo2 { grid-area: parrafo2;
    text-align: center; 
}

.Velas2 { grid-area: Velas2; }
  
.Velas { grid-area: Velas; }
  
  
      

li{
    font-size:  40px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

header nav .menu li a{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/*subtitlo*/
h2{
    text-align: center;
    margin: 80px;
    padding: 80px;
}
/*imagenes*/
section div{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    margin: 200px;
}


.texto{
    display: grid;
    grid-template-rows: auto auto;
    margin: 150px;
}

img{
    width: 500px;
    height: 500px;
}
p{
    text-align: center;
    text-transform: uppercase;
}

/* css velas*/

/* body de velas*/
.bodyVelas{
    position: relative;
    padding-bottom: 3em ;
    min-height: 100vh;
}
/*imagenes*/
.imagenesVelas{
    margin: 100px;
    padding: 100px;
    display: inline-block;
    flex-direction: row;
    justify-content:  space-between;
}


/* footer de velas*/
.footerVelas{
    text-align: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

/* css productos*/

/*body de productos*/
.bodyProductos{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
/*main*/
.productosMain{     font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 5vh;
}



/* los parrafos del main*/
.pMain{
    margin: 50px;
    padding: 50px;
    display: inline-block;
    flex-direction: column;
    justify-content: start;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.pMain2{
    font-family:Georgia, 'Times New Roman', Times, serif
}

/*las imagenes del main/producto*/
.esencias4{
    margin: 100px;
    padding: 100px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}


.esencias1{
    margin: 100px;
    padding: 100px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

/*titulo difusor*/
.difusorTitulos{
    text-transform: uppercase;
    font-size: 5vh;
}
/*fotos de los difusores*/
.difusor{
    margin: 100px;
    padding: 100px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.difusor2{
    margin: 100px;
    padding: 100px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

/*footer de productos*/
.footerProductos{
    text-align: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

     



/*css sobre nosotros*/

/* todo los parrafos del main*/
.sobre{
    text-transform: uppercase;
    margin: 50px;
    padding: 50px;
    font-size: 7vh
}

.sobre1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.sobre2{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.sobre3{
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: dashed;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.sobre4{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif ;
    font-size: larger;
}

.sobre5{
    margin: 100;
    padding: 100;
    text-align: center;
}

/*contactanos*/

/* body  de contactanos*/
.bodyContactanos{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/*parrafo del main*/
.contacto1{
    text-align: start;
    font-family: 'Roboto', sans-serif ;
    display: flex;
    justify-content: flex-start;
}

/*formulario*/
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif ;
    padding: 10px;
    margin: 10px;
}
/*footer de contactanos*/
.footercontactanos{
    text-align: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
}
/*
@media only screen and (min-width: 375px){
    
    
    
    header{
        background-color: #D1BD8F ;
        position: sticky;
        top: 0;
        
        
    }

    header nav .menu{
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

  .container{
      height: 100vh;
      display: grid;
      grid-template-areas: 
                            "Velas1"
                            "Velas2"
                            "aca"
                            "aca2"
                            "parrafo"
                            "parrafo2";
    justify-content: center;
    
  }

 

   .parrafo2 { grid-area: parrafo2;
        text-align: center; 
        margin: 50px;
    }

    
    .aca { grid-area: aca; 
    text-align: center;
    margin: 10px;
    }
  
    .aca2 { grid-area: aca2; 
    text-align: center;
    margin: 10px;
    }
  
    .parrafo { grid-area: parrafo; 
    text-align: center;
    margin: 80px;
    }  
    .parrafo2 { grid-area: parrafo2;
    text-align: center; 
    }

    .Velas2 { grid-area: Velas2; }
  
    .Velas { grid-area: Velas; }
   
    
    
    
}
*/